.allDivApp{
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
}

.divForChat{
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.allMesDiv{
  display: flex;
  flex: 1;
  flex-direction: column;
}
